<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databaseConnTimeout" value="340" />
    <add key="databaseCmdTimeout" value="340" />
    <add key="webPath" value="d:\inetpub\wwwroot\MSR" />
    <add key="databaseServer" value="" />
    <add key="databaseUid" value="" />
    <add key="databasePwd" value="" />
    <add key="databaseDatabase" value="" />
    <add key="CL_API_ACCESS_CODE" value=""/>
    <add key="IMF_API_ACCESS_CODE" value=""/>
    <add key="PF_API_ACCESS_CODE" value=""/>
    <add key="CL_API_ACCESS_CODE_V1" value="" />
    <add key="IMF_API_ACCESS_CODE_V1" value="" />
    <add key="PF_API_ACCESS_CODE_V1" value="" />
    <!--Error Notification Mail list-->
    <add key="COGNOS_MAIL_LIST" value="ejo_lin@gocyberlink.com" />
    <add key="SYSOP_MAIL_LIST" value="ejo_lin@gocyberlink.com" />
    <add key="FLURRY_MAIL_LIST" value="ejo_lin@gocyberlink.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>